@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>

    <h4>Para iniciar seu cadastro, preencha o formulário abaixo:</h4>
    <p></p>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nome Completo</label>
    <input type="text" class="form-control" id="exampleFormControlInput1">
  </div>
    <p></p>
    <div class="form-group">
        <label for="exampleFormControlInput1">E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
    </div>
    <p></p>
    <div class="form-group">
        <label for="exampleFormControlInput1">Telefone de contato</label>
        <input type="number" class="form-control" id="exampleFormControlInput1">
    </div>
    <p></p>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Selecione seu curso</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Enfermagem - 8 Semestres</option>
      <option>Direito - 10 Semestres</option>
      <option>Arquitetura - 10 Semestres</option>
      <option>Economia - 6 Semestres</option>
      <option>Nutrição - 8 Semestres</option>
    </select>
  </div>
  <p></p>
    <input class="btn btn-primary" type="submit" value="Cadastrar">
</form>